body{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: white;
    border-radius: 8px;
    width: 40%;
    padding: 40px;
}

h1, h2, .control-buttons{
    text-align: center;
}


.item p{
    display: inline-block; 
}

.hidden{
    visibility: hidden;
}

p, form{
    display: inline;
}


.strikthrough{
    text-decoration: line-through;
}

.controls{
    text-align: right;
}

.item p{
    font-size: large;
    font-style: italic;
}