body{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: white;
    border-radius: 8px;
    width: 40%;
    padding: 40px;
}

h1, h2, .control-buttons{
    text-align: center;
}


.item p{
    display: inline-block; 
}

.hidden{
    visibility: hidden;
}

p, form, #selectedDate{
    display: inline;
}

#selectedDate, #backward, #forward{
    border: none;
    margin-bottom: 20px; 
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}


#backward, #forward{
    font-size: large;
    font-weight: bolder;
}

.strikthrough{
    text-decoration: line-through;
}

.controls{
    text-align: right;
}

.item p{
    font-size: large;
    font-style: italic;
}

.b-edit, .b-del{
    border: none;
    background-color: white;
}

.list p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px; /* Adjust width as needed */
  }
  
  .input-box input {
    border: none;
    outline: none;
    width: 100%;
  }
  